@import "../../styles/variables";

@mixin border {
	border: 2px;
	border-style: solid;
	border-color: $black;
}

.line {
	display: flex;
}
.color-1 {
	background-color: $blue1;
	color: $white;
	@include border;
}
.color-2 {
	background-color: $blue2;
	color: $white;
	@include border;
}
.between-rows {
	width: 10px;
}
