@import "../../styles/variables";
.right {
	border-left: 2px solid $gray;
}
.middle {
	border-left: 2px solid $gray;
	border-right: 2px solid $gray;
}
.left {
	border-right: 2px solid $gray;
}
.top {
	border-bottom: 2px solid $gray;
}
.center {
	border-bottom: 2px solid $gray;
	border-top: 2px solid $gray;
}
.bottom {
	border-top: 2px solid $gray;
}

.cell {
	&:hover{
		cursor: pointer;
	}
}
