.cell{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        background-color: #e6e6e6;
    }
    &--selected{
        background-color: #e6e6e6;
    }
    &--solved{
        background-color: #e6e6e6;
        color: #000;
        cursor: default;
    }
    &__thick-border-right{
        border-right: 3px solid black;
    }
    &__thick-border-bottom{
        border-bottom: 3px solid black;
    }
    &__thick-border-left{
        border-left: 3px solid black;
    }
    &__thick-border-top{
        border-top: 3px solid black;
    }

}
